:root {
    --main-greenish: rgb(106, 158, 123);
    --hover-greenish: rgb(156, 186, 166);
    --dark-color: rgb(57, 63, 59);

    --darkmode-blackish: rgb(34, 34, 34);
    --darkmode-grey: rgb(61, 61, 61);
}

body {

}

.main-content {
    display: flex;
    /* justify-content: center; */
}

.about-container {
    width: 75%;
}

.about-side-bar {
    width: 100px;
    background-color: var(--hover-greenish);
    padding: 8px;
    border-right: solid black 1px;
}

.sidebar-coder {
    padding: 20px 0;
    cursor: pointer;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-content > * {
    margin: 5px;
}

.about-me {
    padding: 24px;
    margin-left: 5%;
    width: 90%;
    /* text-align: center; */
    display: none;
}

.about-me p {
    margin: 10px;
}

span {
    font-weight: bold;
}

.coder-image {
    width: 60%;
    height: auto;
    border: black solid 3px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.welcome-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-welcome {
    margin-left: 4%;
    padding: 24px;
    width: 90%;
    max-width: 1000px;
}

.hidden {
    display: none;
}

.joke {
    margin: 20px;
    line-height: 2rem;
    font-weight: 600;
}


@media screen and (min-width: 769px) {

    .coder-image {
        width: 40%;
    }

    .about-me {
        width: 75%;
        margin-left: 4%;
    }

    .about-welcome {
        margin-left: 4%; 
    }

    .about-side-bar {
        width: 125px;
    }

    .welcome-image {
        width: 75%;
    }
    
}

@media screen and (min-width: 1025px) {

    .coder-image {
        width: 30%;
    }

    .about-me {
        width: 60%;
        margin-left: 10%;
    }

    .about-welcome {
        margin-left: 10%; 
    }

    .sidebar-coder:hover {
        color: var(--dark-color);
    }

    .darkmode-black .sidebar-coder:hover {
        color: var(--hover-greenish);
    }
    
    .about-side-bar {
        width: 135px;
    }

    .welcome-image {
        width: 65%;
    }
}

.darkmode-black {
    background-color: var(--darkmode-blackish);
    color: white;
}

.darkmode-grey {
    background-color: var(--darkmode-grey);
    color: white;
}

.main-content .about-container a {  
    text-decoration: none;
    color: black;
}

.main-content.darkmode-grey .about-container a {
    color: var(--light-text-color);
}