:root {
    --main-greenish: rgb(106, 158, 123);
    --hover-greenish: rgb(156, 186, 166);
    --dark-color: rgb(57, 63, 59);
}

.main-content {
    position: relative;
}

.filter-container {
    padding: 16px 16px 0 16px;
}

.filter-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
}

.filter-btn:hover {
    color: var(--hover-greenish);
}

.filter-image {
    height: 25px;
    width: 25px;
}

.filter-options {
    margin: 15px;
    display: none;
}

input {
    cursor: pointer;
}

.filter-options h4 {
    margin: 15px 10px 3px -8px;
}

.filter-location {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.search-btn {
    color: white;
    background-color: var(--main-greenish);
    width: 75px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-btn:hover {
    background-color: var(--hover-greenish);
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
    display: none;
}

.popup {
    position: absolute;
    top: 25px;
    width: 85%;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: var(--hover-greenish);
    border-radius: 15px;
    z-index: 3;
    text-align: center;
    display: none;
}

.popup > * {
    margin: 8px;
}

.cancel-btn {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: var(--hover-greenish);
}

.popup-image {
    width: 40%;
    border-radius: 20%;
}

.popup > h2 {
    font-size: 2rem;
}

span {
    font-weight: bold;
}

.company-card,
.no-match-message {
    background-color: var(--main-greenish);
    width: 50%;
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
    transition: 100ms;
    cursor: pointer;
}   

.company-card > img {
    border: 0.5px solid var(--dark-color);
    border-radius: 20%;
    background-color: white;
}

.card-h3 {
    margin: 10px;
}


@media screen and (min-width: 769px) {

    .company-card {
        width: 220px;
        margin: 40px;
    }   

    .company-card:hover {
    background-color: var(--hover-greenish);
    }

    .popup {
        width: 70%;
    }
    
}

@media screen and (min-width: 1025px) {

    .popup-image {
        width: 25%;
    }

    .popup {
        width: 55%;
    }
    
}