:root {
    --main-greenish: rgb(106, 158, 123);
    --hover-greenish: rgb(156, 186, 166);
    --dark-color: rgb(57, 63, 59);

    --darkmode-blackish: rgb(34, 34, 34);
    --darkmode-grey: rgb(61, 61, 61);
    --darkmode-hover: rgb(61, 66, 60);
}

.main-content {
    position: relative;
}

.filter-container {
    padding: 16px 16px 0 16px;
    position: relative;
}

.filter-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
}

.filter-btn:hover {
    color: var(--hover-greenish);
}

.darkmode-grey .filter-btn:hover {
    color: var(--hover-greenish);
}

.filter-image {
    height: 25px;
    width: 25px;
    margin-right: 2px;
    transition: transform 0.3s ease; 
}

.rotate {
    transform: rotate(180deg);
}

.filter-options {
    margin: 0 15px 15px 15px;
    padding-left: 10px;
    width: 95%;
    display: none;
    position: absolute;
    top: 41px;
    left: -5px;
    z-index: 3;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 0.93;
}

.filter-boxes {
    display: flex;
}

input {
    cursor: pointer;
}

.filter-options h4 {
    margin: 15px 10px 3px -8px;
}

.filter-location,
.filter-skills {
    margin: 20px;
}

.clear-filter {
    color: white;
    background-color: var(--main-greenish);
    width: 85px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 0 10px 20px;
}

.clear-filter:hover {
    background-color: var(--hover-greenish);
}

.darkmode-grey .clear-filter:hover {
    background-color: var(--darkmode-hover);
    color: var(--main-greenish);
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 5;
    display: none;
}

.popup {
    text-align: center;
    background-color: var(--hover-greenish);
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    z-index: 10;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
    max-height: 85%;
    overflow-y: auto;
}

.popup > * {
    margin: 8px;
}

.cancel-btn {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: var(--hover-greenish);
}

.popup-image {
    width: 40%;
    border-radius: 20%;
}

.popup > h2 {
    font-size: 2rem;
}

span {
    font-weight: bold;
}

.company-card,
.no-match-message {
    background-color: var(--main-greenish);
    font-size: 0.9rem;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
    transition: 100ms;
    cursor: pointer;
}   

.company-card > img {
    border: 0.5px solid var(--dark-color);
    border-radius: 20%;
    background-color: white;
}

.card-h3 {
    margin: 10px;
}

.toggle-darkmode {
    cursor: pointer;
}


@media screen and (min-width: 769px) {

    .company-card {
        width: 220px;
        margin: 40px;
    }   

    .company-card:hover {
    background-color: var(--hover-greenish);
    }

    .darkmode-grey .company-card:hover {
        background-color: var(--darkmode-hover);
        }

    .popup {
        width: 70%;
    }
    
}

@media screen and (min-width: 1025px) {

    .popup-image {
        width: 25%;
    }

    .popup {
        width: 55%;
    }
    
}

.darkmode-black {
    background-color: var(--darkmode-blackish);
    color: white;
}

.darkmode-grey {
    background-color: var(--darkmode-grey);
    color: white;
}

.main-content .info-content a {
    text-decoration: none;
    color: black;
}

.main-content.darkmode-grey .info-content a, .cancel-btn {
    color: white;

}

.main-content.darkmode-grey .info-content .cancel-btn {
    background-color: var(--darkmode-blackish);
}