:root {
    --main-greenish: rgb(106, 158, 123);
    --dark-color: rgb(57, 63, 59);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    justify-content: center;
}

.company-card {
    background-color: var(--main-greenish);
    width: 220px;
    text-align: center;
    padding: 16px;
    margin: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
}   

.company-card > img {
    border: 0.5px solid var(--dark-color);
    border-radius: 20%;
    background-color: white;
}