:root {
    --main-greenish: rgb(106, 158, 123);
    --dark-color: rgb(57, 63, 59);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-card {
    background-color: var(--main-greenish);
    width: 80%;
    aspect-ratio: 3/4;
    text-align: center;
    padding: 16px;
    margin: 24px;
}

.profile-card > img {
    border: 0.5px solid var(--dark-color);
    border-radius: 50%;
}