:root {
    --main-greenish: rgb(106, 158, 123);
    --dark-color: rgb(57, 63, 59);
    --shadow-color: rgb(38, 57, 77);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    justify-content: center;
}

.profile-small {
    background-color: var(--main-greenish);
    box-shadow: var(--shadow-color) 0px 20px 30px -10px;
    border-radius: 5px;
    width: 220px;
    text-align: center;
    padding: 16px;
    margin: 40px;
}

.profile-small > img {
    border: 0.5px solid var(--dark-color);
    border-radius: 50%;
}

.profile-small .name {
    text-transform: capitalize;
} 

.profile-large {
    background-color: var(--shadow-color);
    width: 260px;
    aspect-ratio: 2/5;
    text-align: center;
    padding: 16px;
    margin: 24px;
}
