:root {
    --main-greenish: rgb(106, 158, 123);
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero-img {
    background-image:linear-gradient(to right, rgba(106, 158, 123, 0.7) 0%, rgba(0, 128, 128, 0) 100%), url(../images/hero-mobile.jpg);
    background-size: cover;
    height: 300px;
}

.logo {
    padding: 24px;
}

h1 {
    display: none;
}

.main-content {
    flex-grow: 1;
}

footer {
    height: 60px;
    background-color: var(--main-greenish);
}



@media screen and (min-width: 769px) {
    
    .hero-img {
        background-image:linear-gradient(to right, rgba(106, 158, 123, 0.7) 0%, rgba(0, 128, 128, 0) 100%), url(../images/hero-desktop.jpg);
        background-size: cover;
        height: 400px;
    }

}