:root {
    --dark-color: rgb(57, 63, 59);
    --hover-greenish: rgb(156, 186, 166);
    --main-greenish: rgb(106, 158, 123);
    --nav-active-color: rgb(59, 83, 67);
    --light-text-color: rgb(255, 255, 255);
    --shadow-color: rgb(38, 57, 77);

    --darkmode-blackish: rgb(34, 34, 34);
    --darkmode-grey: rgb(61, 61, 61);
    --darkmode-hover: rgb(61, 66, 60);
    --darkmode-active: rgb(116, 116, 116);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    font-family: Lexend, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.main-content {
    min-height: 10%;
}

nav {
    background-color: var(--main-greenish);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
}

nav li {
    height: 50px; 
}

nav a {
    align-items: center;
    color: var(--light-text-color);
    display: flex;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--hover-greenish);
}

nav .sidebar li:first-child {
    justify-content: flex-end;
}

.sidebar {
    align-items: flex-start;
    background-color: rgba(106, 158, 123, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    right: 0;
    position: fixed;
    top: 0;
    width: 350px;
    z-index: 999;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.submenu {
    background-color: rgba(117, 150, 127, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    z-index: 1100;
}

.submenu li {
    border-bottom: 1px solid var(--nav-hover-color);
    height: 50px;
    width: 100%;
}

.submenu.open {
    display: flex;
}

.submenu-toggle {
    cursor: pointer;
}

nav ul li  {
    position: relative;
}

.navbar > li:first-child {
    margin-right: auto;
}

.active {
    background-color: var(--nav-active-color);
}

.viewOnDesktop {
    display: none;
}

.menubutton a img, .closebutton a img {
    height: 26px; 
}

.nav-logo {
    height: 48px;
    padding-top: 5px;
}

.navbar .logo a:hover,
.sidebar .logo a:hover,
.logo.active {
    background: var(--main-greenish);
}

.darkmode-black .navbar .logo a:hover,
.darkmode-black .navbar .logo.active a {
    background-color: var(--darkmode-blackish);
}

.darkmode-black .sidebar .logo a:hover,
.darkmode-black .logo.active,
.darkmode-black .navbar-item.active,
.darkmode-black .submenu-item.active,
nav.darkmode-black a:hover {
    background: var(--darkmode-hover);
}

.darkmode-black .navbar-item.active,
.darkmode-black .submenu-item.active,
.darkmode-black .sidebar .active {
    background: var(--darkmode-active);
}

.container {
    font-size: 1rem;
    max-width: 100%;
    padding: 20px; 
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .text-container {
    width: 90%;
  }

.text-container p {
    margin: 15px;
}

.container img {
    margin-left: 20px;
    padding: 20px;
}

.hero-img {
    background-image:linear-gradient(to right, rgba(106, 158, 123, 0.7) 0%, rgba(0, 128, 128, 0) 100%), url(../images/hero-mobile.jpg);
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: flex-end;
}

h1 {
    text-align: center;
    margin: 0 0 30px 0;
}

.main-content {
    flex-grow: 1;
    width: 100%;
}

.consent-box {
    animation: slideIn 1s ease-in-out forwards;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 20px 30px 10px var(--shadow-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    height: min-content;
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0;
    right: -360px;
    z-index: 1000; 
}

.identify-user {
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 10px var(--shadow-color);
    background-color: rgba(106, 158, 123, 0.445);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    margin: 40px 0px ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.consent-box > *,
.identify-user > * {
    margin: 4px;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0 0;
}

.identify-user > .button-wrapper {
    flex-direction: column;
}

.cookie-btn,
.identifier-button {
    border: none;
    border-radius: 5px;
    margin: 4px;
    padding: 10px;
    font-weight: 700;
    box-shadow: 0px 10px 30px -10px var(--shadow-color);
    cursor: pointer;
}

.allow {
    background-color: var(--hover-greenish);
    color: var(--light-text-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.cookie-btn:hover {
    box-shadow: 0px 20px 30px -10px var(--shadow-color);
}

.identifier-button:hover {
    box-shadow: 0px 0px 10px 5px var(--hover-greenish);
}

footer {
    color: var(--light-text-color);
    background-color: var(--main-greenish);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
footer > * {
    font-size: 12px;
    margin: 6px;
    cursor: pointer;
    flex-wrap: wrap;
}

.footer-info a {
    text-decoration: none;
    color: var(--light-text-color);
}

.footer-info a:hover {
    color: var(--nav-active-color);
}

.footer-social {
    display: flex;
    flex-wrap: nowrap;
}

.social-img {
    margin: 2px;
}

.darkmode-black,
.darkmode-black .sidebar,
.darkmode-black .submenu {
    background-color: var(--darkmode-blackish);
    color: white;
}

.darkmode-grey {
    background-color: var(--darkmode-grey);
    color: white;
}

.darkmode-gradient {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url(../images/hero-desktop.jpg);
}

@keyframes slideIn {
    to {
        right: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media(max-width: 400px){
    .sidebar {
        width: 100%;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width: 430px){
    footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 431px) {
    .consent-box {
        width: 320px;
        position: fixed;
        bottom: 0;
        right: -328px;
        margin:8px;
    }
}
    
@media screen and (min-width: 769px) {
    nav a {
        justify-content: center;
    }
    
    .navbar li:not(.menubutton) {
        display: block;
    }

    .hero-img {
        background-image:linear-gradient(to right, rgba(106, 158, 123, 0.7) 0%, rgba(0, 128, 128, 0) 100%), url(../images/hero-desktop.jpg);
        background-size: cover;
        height: 400px;
    }

    .menubutton {
        display: none;
    }

    .viewOnDesktop {
        display: flex;
    }
}

@media screen and (min-width: 1025px) {
    
    h1 {
        margin-top: 20px;
    }

    .text-container {
        width: 50%;
        max-width: 870px;
    }
    
    .text-container p {
        margin: 15px;
    }
    
    .container img {
        margin-right: 20px;
        padding: 20px;
    }
}