
@font-face {
    font-family: "lexend";
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff");
}


@font-face {
    font-family: "lexend";
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff2");
}