
@font-face {
    font-family: "lexend";
    font-style: normal;
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff");
}

@font-face {
    font-family: "lexend";
    font-style: normal;
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff2");
}

@font-face {
    font-family: "lexend";
    font-weight: 800;
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff");
}

@font-face {
    font-family: "lexend";
    font-weight: 800;
    src: url("../webfonts/lexend/lexend-variablefont_wght-webfont.woff2");
}